@import '../variables/variables';

.FullPageOccupier {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.FlexCenter_Row,
.FlexCenter_Column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FlexCenter_Column {
  flex-direction: column;
}
.BlueBackground {
  background-color: $background-color;
}

.WhiteHeading,
.WhiteHeading__small {
  font-size: 5rem;
  color: #fff;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  &__small {
    font-size: 1.5rem;
  }
}
.NoMarginParas {
  margin: 0;
  padding: 0;
}
