.StyledScrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #32527b;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #2f7be9;
  }
}
