@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

.buttonHoverEffect {
  transition: 0.3s ease-in;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
