.ErrorLabel {
  color: red;
}
.Padded {
  margin: 0 2rem;
}

.MuiDataGrid-main,
.MuiDataGrid-footerContainer,
.MuiTablePagination-root {
  background-color: #fafafa;
}
.MuiDataGrid-main,
.MuiDataGrid-footerContainer,
.MuiTablePagination-root {
  color: black;
}
