.TableContainer {
  padding: 0 1rem;
  width: 98%;
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.GoBackButton {
  margin-top: 0.5rem;
}

.RadioGroupContainer {
  padding: 1rem;
  display: flex;
  align-items: center;

  &_headerLabel {
    margin-right: 1rem;
    font-weight: 600;
  }

  &_descriptors {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0 0.3rem;
  }

  input[type='radio'] {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 2px #fff;
    background-color: #fff;
  }

  input[type='radio']:checked {
    box-shadow: 0 0 0 2px #fff;
    background-color: #006ff1;
  }

  input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
  }

  input[type='radio']:checked:before {
    background: white;
  }
}
